# Add your environment variables here
# Format: KEY=value

# ── Custom Variables ──

# [Service] NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
  # (required)

# [Security] NEXT_PUBLIC_SUPABASE_ANON_KEY=your_value_here
  # (required)

# Added by evnx add custom on 2026-03-05 16:16
